.profile-card {
    max-width: 400px;
  }
  
  .profile-header-image {
    background-image: url('https://material.angular.io/assets/img/profiles/shiba1.jpg');
    background-size: cover;
  }
  
  .profile-icon {
    padding: 0 12px;
  }
  .padding-div {
    padding: 0 8px;
  }  
  .profile-spacer {
    flex: 1 1 auto;
  }
  
  